footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    grid-area: foot;
    background-image: linear-gradient(to top, #4297df, rgb(224, 224, 224));
    margin-top: 5rem;
}