$gradient: linear-gradient(to bottom, #4297df, white);

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: $gradient;
    grid-area: head;
    margin-bottom: 5rem;
} 

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: $gradient;
    grid-area: head;
    margin-bottom: 5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: $gradient;
    grid-area: head;
} 

.fixed-top {
    position: absolute;
}