@media (max-width: 576px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 0px repeat(2, 1fr) 0px;
        grid-template-areas:
            " head"
            " imgs"
            " text "
            " foot";
        grid-column-gap: 20px;
        grid-row-gap: 20px
    }
    #presentation {
        height: auto;
        width: 500px;
    }
    .card {
        flex-direction: column;
        width: 90%;
    }
    #picture__logo {
        display: none;
    }
    .div__imgs {
        width: 80%;
        height: auto;
        &:hover {
            width: 95%;
            height: auto;
        }
    }
    .imgs {
        align-content: space-around;
    }
    .width {
        width: 40rem;
        height: auto;
    }
    #presentation {
    width: 90%;
    }
    .dropdown-menu {
        transform: translate(10px, 0px);
    }
    .div__imgs--modifier {
        width: 80%;
        height: auto;
    }
    .titulo-modifier {
        margin-left: 3rem;
    }
}

@media (min-width: 576px) {
    body {
        background-color: rgb(224, 224, 224);
    }
}