@media (max-width: 576px) {
    .grid {
        grid-template-columns: 1fr !important;
        grid-template-rows: 0px repeat(2, 1fr) 0px;
        grid-template-areas:
            " head"
            " imgs"
            " text "
            " foot" !important;
        grid-column-gap: 20px;
        grid-row-gap: 20px
    }
    #presentation {
        height: auto;
        width: 500px;
    }
    .card {
        flex-direction: column;
        width: 90% !important;
    }
    #picture__logo {
        display: none;
    }
    .div__imgs {
        width: auto;
        height: 300px !important;
        &:hover {
            height: 330px !important;
        }
    }
    .imgs {
        align-content: space-around !important;
    }
    .width {
        width: 50rem !important;
        height: 30rem !important;
    }
}

@media (min-width: 576px) {
    body {
        background-color: rgb(224, 224, 224);
    }
}