$gradient: linear-gradient(to bottom, #4297df, white);
$gradient__transparent: linear-gradient(to bottom, transparent, #FFFFFF);
$cursos:(
    remanufacturacion: #FFE4C4,
    reparacion: #4297df,
    software: #F2C4FF,
    placa: #DCFFC4,
);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: $gradient;
    grid-area: head;
    margin-bottom: 5rem;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    grid-area: foot;
    background-image: linear-gradient(to top, #4297df, white);
    margin-top: 5rem;
}

.main-modifier {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#picture__logo {
    height: 9rem;
    width: 9rem;
}

.menu {
    display: flex;
    list-style: none;
    gap: 30px
}

.menu__item{
    &:hover .submenu {
        display: block;
        z-index: 1;
        background: $gradient__transparent;
    }
}

.menu__link {
    text-decoration: none;
    font-size: 1.8em;
    color: black;
    padding: 0.7rem;
}

.submenu {
    list-style: none;
    display: none;
    position: absolute;
    // background-image: $gradient__transparent;
}

.submenu__item {
    padding: 0.5rem;
}

// .submenu__link {
//     text-decoration: none;
//     font-size: 1.8em;
//     color: black;
// }

.menu__link--modifier {
    font-weight: bold;
    text-decoration: underline;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0px repeat(2, 1fr) 0px;
    grid-template-areas: 
    " head head"
    " imgs text"
    " imgs . "
    " foot foot";
    grid-column-gap: 20px;
    grid-row-gap: 20px
}

.grid {
    ul {
        li {
            a {
                list-style: none;
            }
        }
    }
}

.imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    grid-area: imgs;
    background-image: radial-gradient(rgb(215, 255, 255), white)
}

.div__imgs {
    height: 200px;
    width: auto;
    margin: 10px;
    transition: height 2s;
}

.div__imgs{
    &:hover {
        height: 230px;
    }
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: text;
    background-image: radial-gradient(bisque, white);
}

.titulo {
    font-size: 2em;
    margin: 0.5rem;
}

#presentation {
    margin: 1rem;
    font-size: 1.4em;
    height: 200px;
    overflow: auto;
}

#presentation-modifier {
    font-weight: bold;
}

// .footer__link {
//     text-decoration: none;
//     font-size: 1.8em;
//     color: black;
// }

.terminos__listado{
    font-size: 20px;
    margin-left: 40px;
    display: block
}

.form{
    font-size: 15px;
}

.fieldset {
    align-content: center;
    height: 50rem;
    width: 50rem;
}

.form__input{
    margin: 15px;
    display: block
}

.form__input__submit {
    margin-left: 1.5rem;
}

.form__input__reset {
    @extend .form__input__submit;
}

.form__input--margin--left {
    margin-left: 15px;
}

.form__label--margin--left {
    @extend .form__input--margin--left;
}

.width {
    width: 1000px;
    height: 600px;
}

.terms {
    display: flex;
    justify-content: center;
}

.card-title {
    font-size: 2.5em;
}

.card-text {
    font-size: 1.5em;
}

@each $curso, $color in $cursos {
    .card-#{$curso}{
        background-color: $color !important;
    }
}

@mixin text {
    text-decoration: none;
    font-size: 1.8em;
    color: black;
}

.footer__link {
    @include text;
}

.submenu__link {
    @include text;
}