header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(to bottom, #4297df, white);
  grid-area: head;
  margin-bottom: 5rem; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(to bottom, #4297df, white);
  grid-area: head;
  margin-bottom: 5rem; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(to bottom, #4297df, white);
  grid-area: head; }

.fixed-top {
  position: absolute; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  grid-area: foot;
  background-image: linear-gradient(to top, #4297df, white);
  margin-top: 5rem; }

@media (max-width: 576px) {
  #picture__logo {
    display: none; } }

@media (max-width: 576px) {
  .grid {
    grid-template-columns: 1fr !important;
    grid-template-rows: 0px repeat(2, 1fr) 0px;
    grid-template-areas: " head" " imgs" " text " " foot" !important;
    grid-column-gap: 20px;
    grid-row-gap: 20px; }
  #presentation {
    height: auto !important; }
  .card {
    flex-direction: column !important;
    width: 100% !important; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif; }

html {
  font-size: 62.5%; }

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px; }

.main-modifier {
  display: flex;
  flex-direction: column;
  align-items: center; }

#picture__logo {
  height: 9rem;
  width: 9rem; }

#dropdown__logo {
  height: 9rem;
  width: 9rem; }

.menu {
  display: flex;
  list-style: none;
  gap: 30px; }

.menu__item:hover .submenu {
  display: block;
  z-index: 1;
  background: linear-gradient(to bottom, transparent, #FFFFFF); }

.menu__link {
  text-decoration: none;
  font-size: 1.8em;
  color: black;
  padding: 0.7rem; }

.submenu {
  list-style: none;
  display: none;
  position: absolute; }

.submenu__item {
  padding: 0.5rem; }

.menu__link--modifier {
  font-weight: bold;
  text-decoration: underline; }

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0px repeat(2, 1fr) 0px;
  grid-template-areas: " head head" " imgs text" " imgs . " " foot foot";
  grid-column-gap: 20px;
  grid-row-gap: 20px; }

.grid ul li a {
  list-style: none; }

.imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  grid-area: imgs;
  background-image: radial-gradient(#d7ffff, white); }

.div__imgs {
  height: 200px;
  width: auto;
  margin: 10px;
  transition: height 2s; }

.div__imgs:hover {
  height: 230px; }

.texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: text;
  background-image: radial-gradient(bisque, white); }

.titulo {
  font-size: 2em;
  margin: 0.5rem; }

.titulo--modifier {
  font-size: 2em;
  margin: 0.5rem;
  color: white;
  text-shadow: -6px -1px 8px rgba(0, 0, 0, 0.72); }

#presentation {
  margin: 1rem;
  font-size: 1.4em;
  height: 200px;
  overflow: auto; }

#presentation-modifier {
  font-weight: bold; }

.terminos__listado {
  font-size: 20px;
  margin-left: 40px;
  display: block;
  color: white;
  text-shadow: -6px 0px 6px black; }

.form {
  font-size: 15px; }

fieldset {
  align-items: center;
  height: 50rem;
  width: 50rem;
  border: none; }

.form__input {
  margin: 15px;
  display: block; }

.form__input__submit, .form__input__reset {
  margin-left: 1.5rem; }

.form__input--margin--left, .form__label--margin--left {
  margin-left: 15px; }

.width {
  width: 1000px;
  height: 600px; }

.terms {
  display: flex;
  justify-content: center; }

.card--modifier {
  width: 20%; }

.card-title {
  font-size: 2.5em; }

.card-text {
  font-size: 1.5em; }

.card-remanufacturacion {
  background-color: #FFE4C4 !important; }

.card-reparacion {
  background-color: #4297df !important; }

.card-software {
  background-color: #F2C4FF !important; }

.card-placa {
  background-color: #DCFFC4 !important; }

.footer__link {
  text-decoration: none;
  font-size: 1.8em;
  color: black; }

.submenu__link {
  text-decoration: none;
  font-size: 1.8em;
  color: black; }

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100%;
  background-image: url("../imgs/foto_contacto.jpeg");
  opacity: 0.9;
  height: 20rem;
  margin-bottom: 5rem; }
